1. 특정한 경로에 있는 파일의 목록을 로드
2. 목록들을 모두 데이터프레임 로드(read_함수를 이용)
3. 단순한 행 결합을 이용하여 하나의 데이터프레임 생성

In [1]:
# 라이브러리 로드 
import pandas as pd
import os

In [5]:
# 특정한 경로의 파일의 목록 
# listdir({경로})
# os라이브러리 안에 있는 함수
file_list =  os.listdir("./csv/2017")

In [11]:
df = pd.DataFrame(
    {
        'id' : ['test', 'test2', 'test3'], 
        'age' : [20, 30, 40]
    }
)
df2 = pd.DataFrame(
    {
        'id' : ['test4', 'test5'], 
        'loc' : ['Seoul', 'Busan']
    }
)

In [12]:
df

      id  age
0   test   20
1  test2   30
2  test3   40

In [13]:
df2

      id    loc
0  test4  Seoul
1  test5  Busan

In [14]:
pd.concat([df, df2], axis=0)

      id   age    loc
0   test  20.0    NaN
1  test2  30.0    NaN
2  test3  40.0    NaN
0  test4   NaN  Seoul
1  test5   NaN  Busan

In [15]:
file_path = "./csv/2017/"
file_list = os.listdir(file_path)

# 빈 데이터프레임 생성
df_2017 = pd.DataFrame()

for i in file_list:
    df = pd.read_csv(file_path+i)
    df_2017 = pd.concat([df_2017, df], axis=0)

In [ ]:
pd.read_csv("./csv/2017/201701_expense_list.csv").info()

In [ ]:
df_2017.info()

In [ ]:
!pip install openpyxl

In [21]:
file_path = "./csv/2020/"
file_list = os.listdir(file_path)

df_2020 = pd.DataFrame()

for i in file_list:
    df = pd.read_excel(file_path+i)
    df_2020 = pd.concat([df_2020, df], axis=0)

In [ ]:
df_2019.info()

In [11]:
def list_data(_path, _end):
    # _path 는 파일의 경로
    # 경로의 파일의 목록 로드 
    file_list = os.listdir(_path)

    # 특정한 확장자의 파일 목록을 만들기 위해 비어있는 리스트를 생성
    file_list2 = []

    for i in file_list:
        if i.split(".")[-1] == _end:
            file_list2.append(i)
    print(file_list)
    print(file_list2)
    # 함수의 결과값 -> 비어있는 데이터프레임
    result = pd.DataFrame()

    # 반복문을 이용하여 파일 목록들을 데이터프레임 로드 하고 result에 행결합
    for i in file_list2:
        # _end가 csv라면 read_csv()
        # _end가 json이라면 read_json()
        # _end가 xlsx, xls라면 read_excel()
        if _end == 'csv':
            df = pd.read_csv(_path + '/' + i)
        elif _end == 'json':
            df = pd.read_json(_path + "/" + i)
        elif _end in ['xlsx', 'xls']:
            df = pd.read_excel(_path + "/" + i)
        else:
            return "지원하지 않는 확장자입니다."
        result = pd.concat([result, df], axis=0)
    
    return result

In [12]:
list_data("./csv/2021/", 'csv')

['202101_expense_list.csv', '202101_expense_list.json', '202101_expense_list.xlsx', '202101_expense_list.xml', '202102_expense_list.csv', '202102_expense_list.json', '202102_expense_list.xlsx', '202102_expense_list.xml', '202103_expense_list.csv', '202103_expense_list.json', '202103_expense_list.xlsx', '202103_expense_list.xml', '202104_expense_list.csv', '202104_expense_list.json', '202104_expense_list.xlsx', '202104_expense_list.xml', '202105_expense_list.csv', '202105_expense_list.json', '202105_expense_list.xlsx', '202105_expense_list.xml', '202106_expense_list.csv', '202106_expense_list.json', '202106_expense_list.xlsx', '202106_expense_list.xml', '202107_expense_list.csv', '202107_expense_list.json', '202107_expense_list.xlsx', '202107_expense_list.xml', '202108_expense_list.csv', '202108_expense_list.json', '202108_expense_list.xlsx', '202108_expense_list.xml', '202109_expense_list.csv', '202109_expense_list.json', '202109_expense_list.xlsx', '202109_expense_list.xml', '202110_expense_list.csv', '202110_expense_list.json', '202110_expense_list.xlsx', '202110_expense_list.xml', '202111_expense_list.csv', '202111_expense_list.json', '202111_expense_list.xlsx', '202111_expense_list.xml', '202112_expense_list.csv', '202112_expense_list.json', '202112_expense_list.xlsx', '202112_expense_list.xml']
['202101_expense_list.csv', '202102_expense_list.csv', '202103_expense_list.csv', '202104_expense_list.csv', '202105_expense_list.csv', '202106_expense_list.csv', '202107_expense_list.csv', '202108_expense_list.csv', '202109_expense_list.csv', '202110_expense_list.csv', '202111_expense_list.csv', '202112_expense_list.csv']

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,...,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount,bimok
0,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 관리과,2021-01-25 00:00,NaN,소속직원 경조사비,"김광옥, 김용성",현금,100000,NaN
1,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 운영과,2021-01-22 00:00,복시루,운영과 다과구매-전출직원선물,NaN,카드,90000,NaN
2,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 시설보수과,2021-01-21 00:00,떡시루,소속직원 송별떡,시설보수과장외 27명,카드,80000,NaN
3,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 운영과,2021-01-21 00:00,서울시청매점,운영과 다과구매-전출직원선물,NaN,제로페이,48000,NaN
4,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 운영과,2021-01-21 00:00,복시루,운영과 다과구매-전출직원선물,NaN,카드,75000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10339,25116134,2021년 12월 사업소 상수도사업본부 뚝도아리수정수센터 업무추진비 - 기관운영 시...,http://opengov.seoul.go.kr/expense/25116134,사업소,상수도사업본부,뚝도아리수정수센터,NaN,NaN,2021,12,...,0.0,NaN,뚝도아리수 정수센터,2021-12-21 19:44,고기사람(서대문구 충정로4길 26),사업소간 교차점검 결과보고 간담회,소장 외 2명,카드,97000,NaN
10340,25116134,2021년 12월 사업소 상수도사업본부 뚝도아리수정수센터 업무추진비 - 기관운영 시...,http://opengov.seoul.go.kr/expense/25116134,사업소,상수도사업본부,뚝도아리수정수센터,NaN,NaN,2021,12,...,0.0,NaN,뚝도아리수 정수센터,2021-12-07 11:57,장수숯불갈비(성동구 성덕정길40),신임소장과 전직원 순회 소통 (D팀) 간담회,소장 외 5명,카드,120000,NaN
10341,25116134,2021년 12월 사업소 상수도사업본부 뚝도아리수정수센터 업무추진비 - 기관운영 시...,http://opengov.seoul.go.kr/expense/25116134,사업소,상수도사업본부,뚝도아리수정수센터,NaN,NaN,2021,12,...,0.0,NaN,뚝도아리수 정수센터,2021-12-02 12:07,장수숯불갈비(성동구 성덕정길39),신임소장과 전직원 순회 소통 (C팀) 간담회,소장 외 7명,카드,116000,NaN
10342,25116134,2021년 12월 사업소 상수도사업본부 뚝도아리수정수센터 업무추진비 - 기관운영 시...,http://opengov.seoul.go.kr/expense/25116134,사업소,상수도사업본부,뚝도아리수정수센터,NaN,NaN,2021,12,...,0.0,NaN,뚝도아리수 정수센터,2021-12-28 16:48,현대마트(성동구 성덕정길29),기관운영 물품 구매,소장,카드,113180,NaN
10343,25116134,2021년 12월 사업소 상수도사업본부 뚝도아리수정수센터 업무추진비 - 기관운영 시...,http://opengov.seoul.go.kr/expense/25116134,사업소,상수도사업본부,뚝도아리수정수센터,NaN,NaN,2021,12,...,0.0,NaN,뚝도아리수 정수센터,2021-12-28 10:15,서울시청매점(중구 덕수궁길),소장실 운영물품 구매,소장,카드,84000,NaN

In [3]:
file_list = os.listdir("./csv/2021/")

In [6]:
file_list[0].split('.')[-1]

'csv'

In [ ]:
for i in file_list:
    # 확장자가 csv인 경우
    if i.split('.')[-1] == 'xlsx':
        print(i)

In [10]:
for i in file_list:
    # 문자열의 마지막 값과 비교
    if i.endswith('csv'):
        print(i)

202101_expense_list.csv
202102_expense_list.csv
202103_expense_list.csv
202104_expense_list.csv
202105_expense_list.csv
202106_expense_list.csv
202107_expense_list.csv
202108_expense_list.csv
202109_expense_list.csv
202110_expense_list.csv
202111_expense_list.csv
202112_expense_list.csv